<div class="jumbotron">
  <div class="container">
  	<%= render 'layouts/messages' %>
    <h1>ALPHA BLOG</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id enim sit amet dui rhoncus euismod. Nam at facilisis nibh, in bibendum leo. Donec massa diam, consectetur nec elit sit amet, varius venenatis tortor. Integer egestas libero quis lectus dictum, vitae laoreet justo congue.</p>
   	<%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
