@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 50px;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.jumbotron{
    height: 100vh;
}

.alert {
	margin-bottom: 0;
	margin-top: 20px;
}

.btn-xs {
	width: 50px;
}

.container-article {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.container-article-body {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	max-width: 400px;
}

.container-article-btns {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.container-user {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.container-user-body {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	height: 80px;
	padding-left: 20px;
}

.container-user-body-username {
	font-size: x-large;
}

