@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 50px;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.jumbotron{
    height: 100vh;
}

.alert {
	margin-bottom: 0;
	margin-top: 20px;
}

.btn {
	width: 80px;
}

.btn-xs {
	width: 50px;
}

.well-container {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.well-container-article {

}

.well-container-btns {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.well-container-article-body {}

.well-container-article-details {}
